/*Roboto, Acme, and Permanent Marker font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Permanent+Marker&display=swap');

/*Reset margins, padding, and box sizing and add some default styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*Header*/
.header {
    background-color: rgb(20, 28, 32);
}

/*Navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: rgb(255, 255, 255)
}

.nav-link:hover {
    color: rgb(19, 164, 236);
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: rgb(19, 164, 236);
}

/*Hamburger menu*/
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.6s ease-in-out;
    background-color: white;
}

/*Hero Section*/
.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imgs/superiorbanner.jpg);
    background-color: wheat;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    text-align: center;
    color: white;
    margin: 0 2rem;
}

.hero-title {
    font-size: 7rem;
    font-weight: 600;
    margin-bottom: 5%;
    transition: .6s ease-in-out;
}

.design {
    font-family: 'Permanent Marker', sans-serif;
}

.develop {
    font-family: 'Acme', sans-serif;
}

.hero-subtitle {
    font-size: 5rem;
    font-weight: 200;
    margin-bottom: 10%;
    transition: .6s ease-in-out;

}


.hero-button {
    background-color: rgb(19, 164, 236);
    color: white;
    border: 4px solid rgb(6, 71, 104);
    border-radius: 10px;
    padding: 1rem 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: bolder;
    cursor: pointer;
}

.hero-button:hover {
    background-color: rgb(20, 28, 32);
    transition: .6s;
}

/*Mobile responsiveness*/
@media only screen and (max-width: 1100px) {
    
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        text-align: center;
        transition: 0.6s;
        box-shadow: 0 30px 30px -22px rgb(20, 28, 32);
        z-index: 1;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .nav-link {
        color: rgb(20, 28, 32)
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .hero-title {
        font-size: 5rem !important;
        transition: .6s ease-in-out;
    }

    .hero-subtitle {
        font-size: 3rem !important;
        transition: .6s ease-in-out;
    }
}

@media only screen and (max-width:768px) {
    .hero-title {
        font-size: 3.5rem !important;
        transition: .6s ease-in-out;
    }

    .hero-subtitle {
        font-size: 2rem !important;
        transition: .6s ease-in-out;
    }
}